#message-output {
  padding: 5px;
}

.message {
  display: block;
}

#button-container, #check-container {
  float:left;
  clear: both;
}

#button-container button, #check-container input{
  float: left;
  margin: 5px 10px;
}
